[submodule "dep/MakefileSTD"]
	path = dep/MakefileSTD
	url = https://github.com/Drwalin/MakefileSTD.git
[submodule "dep/DllLoader"]
	path = dep/DllLoader
	url = https://github.com/Drwalin/DllLoader.git
